/bin
/dist
/doc

# build.properties is developer-specific
/build.properties

# Eclipse's .classpath contains developer-specific paths (e.g. to linked sources)
/.classpath

# EGit needs trailing newline
