/bin
/dist

# build.properties is developer-specific
/build.properties

# Eclipse's .classpath contains developer-specific paths (e.g. to linked sources)
/.classpath

/test/bin

# FindBugs output
/test/model-fb.xml

# EGit needs trailing newline
